.container {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.botao {
    color: var(--cor-03);
    border: 2px solid var(--cor-03);
    padding: 8px 15px;
    border-radius: 4px;
    transition: .3s;
    font-weight: 600;
}

.botao:hover {
    background-color: var(--cor-03);
    color: #fff;
}

.botao-dark {
    padding: 10px 30px;
    border-radius: 4px;
    color: #fff;
    background-color: #353535;
    transition: .3s;
}

.botao-dark:hover {
    background-color: #5f5f5f;
}