.cadastro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0px 100px 100px 100px;
    align-items: center;
    margin-bottom: 100px;
    gap: 40px;
}

.informacoes-cadastro {
    display: flex;
    flex-direction: column;
}

.informacoes-cadastro h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.informacoes-cadastro p {
    text-align: center;
    color: #858585;
    margin-bottom: 20px;
}

.credenciais {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    gap: 20px;
}

.credenciais img {
    width: 24px;
}

.credenciais input{
    width: 100%;
    border: none;
    outline: none;
    padding: 10px 0;
    font-size: 1.1rem;
    border-bottom: 2px solid #000;
}

.cadastro button {
    margin-top: 30px;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 15px;
    cursor: pointer;
    transition: .3s;
    background-color: #1b1b1b;
    font-weight: 600;
    border-radius: 4px;
}

.cadastro button:hover {
    background-color: #000;
}

@media (max-width: 800px) {
    .imagem-cadastro {
        display: none;
    }

    .cadastro {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    .cadastro {
        padding: 0;
    }

    .informacoes-cadastro h1{
        font-size: 1.7rem;
    }
    
    .informacoes-cadastro p {
        font-size: .9rem;
    }
}