.cadastro-bg {
    color: var(--cor-02);
    display: flex;
    justify-content: center;
    padding: 50px 40px 100px 40px;
    text-align: center;
} 

.cadastro {
    background-color: #000;
    padding: 40px;
    border-radius: 60px;
    width: max-content;
}

.cadastro h1 {
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 2.5rem;
}

.cadastro p {
    color: var(--cor-04);
    width: 45ch;
    padding-bottom: 40px;
}

.cadastro input {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    width: 360px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--cor-03);
    padding: 15px;
    transition: .3s;
    color: #fff;
    font-size: 1.2rem;
}

.cadastro input:focus {
    outline: none;
    background-color: #161616;
}

input::placeholder {
    color: var(--cor-04);
    font-family: 'Poppins', sans-serif;
}

.cadastro button {
    padding: 20px 30px;
    width: 250px;
    cursor: pointer;
    background-color: var(--cor-03);
    border: 3px solid transparent;
    color: #fff;
    font-size: 1.2rem;
    border-radius: 15px;
    transition: .3s;
}

.cadastro button:hover {
    background-color: transparent;
    border: 3px solid var(--cor-03);    
}

@media (max-width: 600px) {
    .cadastro {
        padding: 40px;
    }

    .cadastro h1 {
        font-size: 1.5rem;
    }

    .cadastro p {
        width: 100%;
        font-size: .9rem;
    }

    .cadastro input {
        width: max-content;
        padding: 10px 5px;
        font-size: 1rem;
    }
}