.sobre-bg {
    padding: 100px 0;
}

.sobre-titulo {
    font-size: 5rem;
    font-weight: 600;
    margin-bottom: 40px;
}

.sobre-titulo::after {
    content: "";
    background-color: var(--cor-03);
    display: block;
    width: 10%;
    height: 5px;
}

.sobre-subtitulo {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 40px;
}

.sobre-texto {
    padding: 5px 0;
    max-width: 80ch;
}

.sobre-link {
    color: #000;
    font-weight: bold;
    transition: .3s;
}

.sobre-link:hover {
    color: var(--cor-03);
}

@media (max-width: 800px) {
    .sobre-bg {
        padding: 50px 0;
    }

    .sobre {
        text-align: center;
    }

    .sobre-titulo {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .sobre-subtitulo {
        font-size: 1.8rem;
    }

    .sobre-titulo::after {
        width: 0%;
    }
}