header {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05),
    0 4px 8px 0 rgba(0, 0, 0, .05);
    padding: 20px 0
}

.header {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo a{
    color: var(--cor-01);
    font-size: 2rem;
    font-weight: 500;
}

.content-header {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu {
    display: flex;
    gap: 30px;
}

.menu a {
    color: var(--cor-01);
}

.menu li:last-child {
    padding-right: 100px;
}

.menu-item::after {
    content: "";
    display: block;
    height: 1px;
    width: 0%;
    background-color: var(--cor-01);
    transition: .3s;
}

.menu-item:hover::after {
    width: 100%;
}

.menu-hamburguer, .mobile-menu {
    display: none;
}

@media (max-width: 800px) {    
    .menu-item, .botao {
        display: none;
    }

    .menu-hamburguer {
        display: block;
        width: 24px;
        cursor: pointer;
    }

     .mobile-menu ul {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
    }

    .mobile-menu .menu-item {
        display: block;
        
        transition: .3s;
        cursor: pointer;
    }

    .menu-item::after {
        content: "";
        display: none;
    }

    .mobile-menu .botao {
        display: block;
        width: 100%;
        text-align: center;
    } 

    .open {
        display: block;
    }
}