.card-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: var(--cor-02);
    gap: 40px;
}

.card {
    min-width: 265px;
    height: 400px;
    background: #050505;
    padding: 0 45px;
    border-radius: 5px;
    transition: .5s;
}

.card:hover {
    transform: translateY(-30px);
}

.card img {
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

.card h2 {
    font-weight: 500;
    margin-bottom: 20px;
}

.card p {
    font-size: .7rem;
    margin-bottom: 65px;
}

.card a {
    color: var(--cor-02);
    padding: 10px 30px;
    border: 1px solid var(--cor-03);
    transition: .3s;
    border-radius: 4px;
    width: max-content;
}

.card a:hover {
    background-color: var(--cor-03);
    color: var(--cor-02);
}

@media (max-width: 1300px) {
    .card-section {
        overflow-x: auto;
    }

    .card:hover {
        transform: translateY(0);
    }
}